<header>
    <a href="/" class="<%= pageTitle === 'Shop' ? 'active' : '' %>">Shop</a>
    <a href="/admin/add-product" class="<%= pageTitle === 'Add Product' ? 'active' : '' %>">Add Product</a>
</header>